@font-face {
	font-family: 'Tele2TextSans';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/tele2_textsans-regular.woff') format('woff'),
			 url('../fonts/Tele2TextSans-Regular-shortWeb_0.ttf') format('ttf');
}

@font-face {
	font-family: 'Tele2TextSans';
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/tele2_textsans-bold.woff') format('woff'),
			 url('../fonts/Tele2DisplaySerif-Bold-short__W.woff') format('ttf');
}

@font-face {
	font-family: 'StandardCTStencil';
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/standardctstencil_bold-webfont.woff2') format('woff2'),
			 url('../fonts/standardctstencil_bold-webfont.woff') format('woff'),
			 url('../fonts/StandardStencil-Bold_media.otf') format('otf');
}

@font-face {
	font-family: 'DisplaySerif';
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/Tele2DisplaySerif-Bold-short__W.woff') format('woff'),
			 url('../fonts/Tele2DisplaySerif-Bold-shortWeb_0.ttf') format('ttf');
}