.container {
	max-width: 1176px;
	padding: 0 30px;
	margin: 0 auto;
}

.btn {
	font-family: 'Tele2TextSans', sans-serif;
	font-weight: bold;
	font-size: 16px;
	border: none; 
	background-color: #FFFFFF;
	padding: 13px 40px;
	border-radius: 48px;
}

.title {
	font-family: 'DisplaySerif', sans-serif;
	font-weight: bold;
	font-size: 40px;
	line-height: 52px;
	color: #ffffff;
}

.text {
	font-family: 'Tele2TextSans', sans-serif;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
}