.header {
	border-bottom: 1px solid #383D4A;
	@include element-size(75px);

	&-container {
		display: flex;
		justify-content: space-between;
		width: 1440px;
		margin: auto;
	}

	&__logo {
		background-image: url("../img/Logo.svg");
		background-repeat: no-repeat;
		margin: 21px 0 22px 32px;
		@include element-size(33px, 88px);
	}

	&__location {
		display: flex;
		margin: 21px 29px 25px 0;
	}
}

.mark {
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../img/location.png");
	margin-right: 15px;
	@include element-size(25px, 18px);
}