.first {
	margin-top: 57px;
	display: flex;
}

.first__text-headline {
	margin: 26px 0px 53px;
}

.first__text-title {
	font-family: 'StandardCTStencil', sans-serif;
	font-weight: bold;
	font-size: 68px;
	line-height: 66px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 24px;
}

.first__text-descr {
	margin-bottom: 55px;
	width: 65%;
}

.btn--large {
	padding: 19px 44px;
	border-radius: 30px;
}