.header {
  height: 75px;
  border-bottom: 1px solid #383D4A;  
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.header__logo {
  background-image: url("../../img/logo.svg");
	width: 88px;
	height: 33px;
  background-repeat: no-repeat;
  margin: 21px 0 22px 32px;
}

.header__location {
  display: flex;
  padding: 23px 45px 28px 0;
}

.mark {
  display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../../img/location.png");
	width: 18px;
	height: 25px;
  margin-right: 15px;
}