.enter {
  margin-top: 164px;
  display: flex;
}

.enter__desc {
  margin-right: 114px;
}

.enter__title {
  margin: 40px 0px 30px;
}

.enter__text-descr {
  margin-bottom: 48px;
}

.enter__circle {
  position: relative;
  overflow:hidden;
  background-color: #48CCFD;
  border-radius: 50%;
  width: 359px;
  height: 359px;
}

.sim {
  position: absolute;
  top: 161px;
  left: 260px;
}

.phone {
  position: absolute;
  top: 62px;
  left: 62px;
}