.steps {
  margin-top: 147px;
  display: flex;
}

.steps__desc {
  width: 50%;
}

.form {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.form__phone {
  font-family: 'Tele2Regular', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #8F9399;
  margin-bottom: 4px;
}

.form__field {
  width: 348px;
  background-color: transparent;
	border: none;
	border-bottom: 2px solid #8F9399;
  margin-bottom: 26px;
}

.form__text-phone {
  font-size: 16px;
	line-height: 22px;
}

.check__input {
  display: none;
  cursor: pointer;
}

.check__label {
  position: relative;
  cursor: pointer;
  align-items: flex-start;
  margin-bottom: 31px;
  display: flex;
}

.form__text-label {
  font-size: 16px;
  line-height: 22px;
}

.check__label:before {
  content:'';
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 9px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
}

.check__input:checked + .check__label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 8px;
  width: 7px;
  height: 13px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.steps__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: li;
}

.steps__list-item {
  margin: 0px 0px 32px 30px;
  display: flex;
  align-items: center;
}

.steps__list-item:before {
  content: counter(li);
  counter-increment: li;
  background-color: transparent;
  border: 2px solid #39404C;
  border-radius: 50%;
  padding: 0.5em;
  width: 80px;
  height: 80px;
  display: inline-block; 
  margin-left: -105px; 
  margin-right: 24px;   
  font-family: 'DisplaySerif';
  font-size: 40px;
  color: #48CCFD;
  text-align: center;
}

.form__info {
  width: 348px;
  height: 48px;
  background: #262B36;
  border-radius: 8px;
  margin-top: 48px;
}

